* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial Arial, Helvetica, sans-serif;
    
    background: #f1f1f1;
  }
  

  .header {
    
    text-align: center;
    background: rgb(13, 13, 92);
    color: white;
  }
  
  .header h1 {
    font-size: 50px;
    padding: 10px;
  }

  .header p{
    padding: 5px;
  }
  
  .top {
    overflow: hidden;
    background-color: white;
  }
  

  .top a {
    float: left;
    display: block;
    color:rgb(13, 13, 92);
    text-align: center;
    text-decoration: none;
    padding: 12px;
  }
  

  .top a:hover {
    background-color: rgb(126, 126, 172);
    color: white;
  }
  




  .grid_container{
    display: grid;
    gap: 10px;
    margin-top: 20px;
   
  }

  #item1 {
    grid-column: 1 ;
    grid-row: 1/span 4;
  }
  
  #item2 {
    grid-column: 2/span 2;
    grid-row: 1 / span 2;
  }
  #item3{
  grid-column:2/span 2;
  grid-row:3/span 2;
  }
  
  #item4{
  grid-column:4;
  grid-row:1/span 3;
  }
  
  #item5 {
    grid-column:4;
    grid-row: 4;
  }

  #item1 ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width:80%;

  }
  #item1 li a{
    text-decoration: none;
    display: block;
    padding: 10px;
    color:rgb(13, 13, 92);

  }


  .card {
    background-color: white;
    padding: 20px;
  }
  

  

  
  
  @media screen and (max-width: 800px) {
    #item1,#item2, #item3, #item5{
      display: none;
    }
   
    .top{
        display: none;
    }
    .header p{
        display: none;
    }
    .grid_container{
      display: block;
    }
    #item4{
      border: 1px solid;
        
    }

    #item4 h3{
        text-align: center;
        font-size: 30px;
    }
 
    .red{
        color: rgb(181, 3, 3);
    }
  }
  
 
